PORT=3000
OPENAI_API_KEY=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
MONGO_URI=mongodb+srv://admin_db_user:vhIPMzRtzhINvaRp@cluster0.8ovat0j.mongodb.net/
JWT_SECRET=supersecretkey123